*{
    padding: 0px;
    margin: 0px;
}

.hading{
    color:white;
    background-color: cornflowerblue;
    text-align: center;
    padding: 20px;
    font-size: 20px;

}
 #boxGenerate{
    color:#EAF0F1;
    padding: 10px;
    margin: 10px;
    background-color: #45CE30;
    font-size: 20px;
    cursor: pointer;
    font-weight: 900;
    
}


.alert {
    padding: 15px;
    border: 1px solid #d6e9c6;
    border-radius: 4px;
    color: #3c763d;
    background-color: #dff0d8;
  }

 #box{
     display: flex;
     flex-wrap: wrap;
    
 }

 .addlist{
     margin: 20px;
 }
#addlist{
    font-size: 20px;
    padding: 10px;
    color: white;
    background-color: #00CCCD;
    border: none;
}

 
#submit{
    color: red;
    padding: 8px;
    font-size: 20px;
    background-color: #A4B0BD;
    cursor: pointer;
}
li{
    color: red;
    padding: 10px;
    font-size: 20px;
    font-weight: 900;


}
.listid{
    background-color: black;
}